<<<<<<< HEAD
// variables
$containerWidth: 940px;
$baseFontSize: 16px;

// colors
$colorBlack: #292929;
$colorGrey: #666666;
$heroSectionGrey: #F5F5F5;
$reasonSectionGrey: #F2F5F4;

// breakpoints
$tablets: 768px;
=======
// variables
$containerWidth: 940px;
$baseFontSize: 16px;

// colors
$colorBlack: #292929;
$colorGrey: #666666;
$heroSectionGrey: #F5F5F5;
$reasonSectionGrey: #F2F5F4;

// breakpoints
$tablets: 768px;
>>>>>>> 9131f4a088039262e88de0b4ec6486454a1b3f78
$phones: 480px;