// variables
$containerWidth: 940px;
$baseFontSize: 16px;

// colors
$colorBlack: #292929;
$colorGrey: #666666;
$heroSectionGrey: #F5F5F5;
$reasonSectionGrey: #F2F5F4;

// breakpoints
$tablets: 768px;
$phones: 480px;