<<<<<<< HEAD
.btn {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.8rem 4.1rem;
    border-radius: 10rem;
    line-height: 1;
    background: #E01F3D;
    color: #FFF;
    border: 0;
    cursor: pointer;

    &:hover {
        background: #CA1B36;
        color: #FFF; 
    }

    &--theme--order {
        padding: 2.1rem 4.1rem;
    } 

    &--theme--transparent {
        margin-left: 0.8rem;
        padding: 2rem 1.2rem;
        background: transparent;
        color: #FFF;
        text-transform: none;

        &:hover {
            background: none;
            color: #CA1B36; 
        }
    }
=======
.btn {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.8rem 4.1rem;
    border-radius: 10rem;
    line-height: 1;
    background: #E01F3D;
    color: #FFF;
    border: 0;
    cursor: pointer;

    &:hover {
        background: #CA1B36;
        color: #FFF; 
    }

    &--theme--order {
        padding: 2.1rem 4.1rem;
    } 

    &--theme--transparent {
        margin-left: 0.8rem;
        padding: 2rem 1.2rem;
        background: transparent;
        color: #FFF;
        text-transform: none;

        &:hover {
            background: none;
            color: #CA1B36; 
        }
    }
>>>>>>> 9131f4a088039262e88de0b4ec6486454a1b3f78
}