<<<<<<< HEAD
.features {
    display: flex;
}

.features__item {
    display: flex;
    margin-right: 2rem;
    align-items: center;

   &:last-child {
        margin-right: 0;
   }
}

.feature__icon {
    width: 4.1rem;
    height: 4.1rem;
    margin-right: 1.1rem;
}

.feature__text {
    max-width: 10rem;
    line-height: 1.8rem;
=======
.features {
    display: flex;
}

.features__item {
    display: flex;
    margin-right: 2rem;
    align-items: center;

   &:last-child {
        margin-right: 0;
   }
}

.feature__icon {
    width: 4.1rem;
    height: 4.1rem;
    margin-right: 1.1rem;
}

.feature__text {
    max-width: 10rem;
    line-height: 1.8rem;
>>>>>>> 9131f4a088039262e88de0b4ec6486454a1b3f78
}