@import "../media.scss";

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
   
}

.form__col {
    flex: 1;
    margin-right: 2.6rem;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 1.4rem;

    @include tablets {
        margin-bottom: 1.6rem;
    }
}

.form__block {
    flex: 1;
    margin-right: 1.4rem;
    
    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    margin-bottom: 0.3rem;
}

.form__input {
    width: 100%;
    border: none;
    padding: 1.8rem 1.2rem;
    // border: 0.4rem solid #E01F3D;
    border: 0.4rem solid transparent;
    border-radius: 0.4rem;

    &:focus {
        outline: none;
        border-color: #E01F3D;

    }

    &--texterea {
        height: 15.2rem;
        resize: none;
        margin-bottom: 1.125rem;

        @include tablets {
            height: 8.2rem;
        }

    }

    @include tablets {
        padding: 0.9rem 1.2rem;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        justify-content: center;
    }
}