<<<<<<< HEAD
.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item{
    margin-right: 0.4rem;

    &:last-child{
        margin-right: 0;
    }
}

.interative-avatar {
    width: 7.4rem;
    height: 7.4rem;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &--active {
        border-color: #E01F3D;
    }
}

.interative-avatar-link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.interative-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
=======
.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item{
    margin-right: 0.4rem;

    &:last-child{
        margin-right: 0;
    }
}

.interative-avatar {
    width: 7.4rem;
    height: 7.4rem;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &--active {
        border-color: #E01F3D;
    }
}

.interative-avatar-link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.interative-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
>>>>>>> 9131f4a088039262e88de0b4ec6486454a1b3f78
}