<<<<<<< HEAD
.order-section {
    background: url('../../img/order-bg.png') center top / cover no-repeat;
    color: #fff;
}

.form__btns {
   display: flex;
   justify-content: center; 
   margin-top: 3.6rem;
}

.btn--theme--transparent {
    font-weight: normal;
=======
.order-section {
    background: url('../../img/order-bg.png') center top / cover no-repeat;
    color: #fff;
}

.form__btns {
   display: flex;
   justify-content: center; 
   margin-top: 3.6rem;
}

.btn--theme--transparent {
    font-weight: normal;
>>>>>>> 9131f4a088039262e88de0b4ec6486454a1b3f78
}