.order-section {
    background: url('../../img/order-bg.png') center top / cover no-repeat;
    color: #fff;
}

.form__btns {
   display: flex;
   justify-content: center; 
   margin-top: 3.6rem;
}

.btn--theme--transparent {
    font-weight: normal;
}